extends layout

block content
  br
  .container
  .row
    .col.s12
      form(action='/jobs', method='GET', id="form")
        .row
          .input-field.col.s6.offset-s3.col.m4.offset-m4.col.l4.offset-l4
            i.material-icons.prefix search
            input#icon_prefix.validate(type='text', name='title')
            label(for='icon_prefix') Search for jobs
        .row
          .input-field.col.s6.offset-s3.col.m4.offset-m4.col.l4.offset-l4
            i.material-icons.prefix location_on
            input#icon_prefix.validate(type='text', name='location')
            label(for='icon_prefix') Location
            button.btn.waves-effect.waves-light(type='submit', name='action')
              | Submit
              i.material-icons.right send

      ul
        if jobs
          each job in jobs
            li(class='job-li')
            a(href=job.url)=job.jobtitle
              br
              | #{job.company}, #{job.city} #{job.state}
              br
              a(href= job.url) apply now
              br
<<<<<<< HEAD
      if totalPages
        .pagination-centered
          ul.pagination
            if page > 1
              li.current
                a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)-1}') #{parseInt(page)-1}
            li
              a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)}') #{parseInt(page)}
            li
              a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)+1}') #{parseInt(page)+1}
            li
              a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)+2}') #{parseInt(page)+2}
            li.unavailable
              a(href='') …
            li
              a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{totalPages-1}') #{totalPages - 1}
            li
              a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{totalPages}') #{totalPages}
  script(src='/js/vendor/jquery.js')
  script(src='/js/vendor/fastclick.js')
  script.
      $(document).foundation();
=======
        .container
          .col.s2.offset-s3.col.m6.offset-m3.col.l6.offset-l3.center
            ul.pagination
              li.disabled
                a(href='#!')
                  i.material-icons chevron_left
              li.active
                a(href='#!') 1
              li.waves-effect
                a(href='#!') 2
              li.waves-effect
                a(href='#!') 3
              li.waves-effect
                a(href='#!') 4
              li.waves-effect
                a(href='#!') 5
              li.waves-effect
                a(href='#!')
                  i.material-icons chevron_right

>>>>>>> 86208c2db0942ea007cb2045994743151d119a63
