extends layout

block content
  h1 Job Chaser
  .row
    .col.s12
      form(action='/jobs', method='GET', id="form")
        .row
          .input-field.col.s6.offset-s3.col.m4.offset-m4.col.l4.offset-l4
            i.material-icons.prefix search
            input#icon_prefix.validate(type='text', name='title')
            label(for='icon_prefix') Search for jobs
        .row
          .input-field.col.s6.offset-s3.col.m4.offset-m4.col.l4.offset-l4
            i.material-icons.prefix location_on
            input#icon_prefix.validate(type='text', name='location')
            label(for='icon_prefix') Location
            button.btn.waves-effect.waves-light(type='submit', name='action')
              | Submit
              i.material-icons.right send

      ul
        if jobs
          each job in jobs
<<<<<<< HEAD
            li
              a(href= job.url)= job.jobtitle
                br
                strong
                job.company - job.city, job.state
                br
                job.snippet
      .pagination-centered
        ul.pagination
          li.arrow.unavailable
            a(href='') «
          li.current
            a(href='') 1
          li
            a(href='') 2
          li
            a(href='') 3
          li
            a(href='') 4
          li.unavailable
            a(href='') …
          li
            a(href='') 12
          li
            a(href='') 13
          li.arrow
            a(href='') »
=======
            li(class='job-li')
            a(href=job.url)=job.jobtitle
              br
              | #{job.company}, #{job.city} #{job.state}
              br
              a(href= job.url) apply now
              br
        .container
          .col.s2.offset-s3.col.m6.offset-m3.col.l6.offset-l3.center
            ul.pagination
              if page > 1
                li.waves-effect
                  a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)-1}')
                    i.material-icons chevron_left
              li.active
                a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)}') #{parseInt(page)}
              li.waves-effect
                a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)+1}') #{parseInt(page)+1}
              li.waves-effect
                a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)+2}') #{parseInt(page)+2}
              li.waves-effect
                a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)+3}') #{parseInt(page)+3}
              li.waves-effect
                a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)+4}') #{parseInt(page)+4}
              li.waves-effect
                a(href='/jobs?title=#{currentQuery.title}&location=#{currentQuery.location}&page=#{parseInt(page)+1}')
                  i.material-icons chevron_right
>>>>>>> 48e55a8c755722806f7fd9c7f1707542a6f92796
