<% user %>
  <%- include('layout', {user: user}); %>
  <div class="row">
    <div class="col s12">
        <div class="row">
          <div class="input-field col s3">
              <input name="reviews" id="icon_prefix" type="text" class="validate">
              <input type="submit" class="waves-effect waves-light btn" value="button">
              <label for="icon_prefix">Reviews</label>
          </div>
          <form method="POST" action="/users/<%= id %>">
          <div class="input-field col s3">
              <input name="questions" id="icon_telephone" type="tel" class="validate questions">
              <input type="submit" class="waves-effect waves-light btn" value="button">
              <label for="icon_telephone">Questions</label>
          </div>
          <div class="input-field col s3">
              <input name="stage" id="icon_telephone" type="tel" class="validate stage">
              <input type="submit" class="waves-effect waves-light btn" value="button">
              <label for="icon_telephone">Stage</label>
          </div>
          <div class="input-field col s3">
              <input name="notes" id="icon_telephone" type="tel" class="validate notes">
              <label for="icon_telephone">Notes</label>
              <input type="submit" class="waves-effect waves-light btn" value="button">
          </div>
      </form>
    </div>
    </div>
  </div>
<ul>
  <% jobs.forEach(function(job, index) { %>
    <li class="user_jobs_id_<%= job.user_jobs_id %>">
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal<%= index %>"><strong><%= job.position.replace(/\b[a-z]/g, function() {return arguments[0].toUpperCase()}) %> at <%= job.name.replace(/\b[a-z]/g, function() {return arguments[0].toUpperCase()}) %></strong><br></a>
      <!-- Modal Structure -->
      <div id="modal<%= index %>" class="modal">
        <div class="modal-content">
          <h4><%= job.position.replace(/\b[a-z]/g, function() {return arguments[0].toUpperCase()}) %></h4>
          <p>
          <strong>Company - </strong><%= job.name.replace(/\b[a-z]/g, function() {return arguments[0].toUpperCase()}) %></strong><br>
          <strong>Location - </strong><%= job.company.location.replace(/\b[a-z]/g, function() {return arguments[0].toUpperCase()}) %><br>
          <strong>Link to application</strong> - <a href="<%= job.link_to_application %>">Click Here</a><br>
          <strong>Company Reviews - </strong><br>
          <% job.company.reviews.forEach(function(review) { %>
              <%= review.review_text %><br>
          <% }) %>
          <br><strong>Application Stage</strong><br>
          <% job.stages.forEach(function(stage){ %>
            <%= stage.stage %><br>
          <% }) %>
          <strong>Notes</strong><br>
          <% job.stages.forEach(function(stage){ %>
            <%= stage.notes %><br>
          <% }) %>
          <strong>Questions</strong><br>
          <% job.stages.forEach(function(stage){ %>
            <%= stage.question %><br>
          <% }) %>
          </p>
          <form method="POST" action="/users/<%= id %>">
            <!-- hidden input to get user_jobs_id -->
            <input type = "hidden" name="user_id" value="<%= user.id %>">
            <input type = "hidden" name="user_job_id" value="<%= job.user_jobs_id %>">
            <div class="input-field col s3">
                <input name="questions" id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Stage</label>
            </div>
            <div class="input-field col s3">
                <input name="stage" id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Notes</label>
            </div>
            <div class="input-field col s3">
                <input name="notes" id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Questions</label>
                <input type="submit" class="waves-effect waves-light btn user-modal" value="Submit">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close(X)</a>
        </div>
      </div>
      <br><strong>Link to application</strong> - <a href="<%= job.link_to_application %>">Click Here</a><br>
    </li>
  <% }) %>
</ul>
<script>
